= simple_form_for @estimate, :html => { :class => 'form-horizontal' } do |f|
  = f.input :summary
  = f.input :from
  = f.input :date
  = f.input :number
  = f.input :to
  = f.input :due_on
  = f.input :estimate_number
  = f.input :estimate_notes
  = f.input :user_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), estimates_path, :class => 'btn'
