= simple_form_for @estimate, :html => { :class => 'form-horizontal estimates' } do |f|
  .span12
    %strong Estimate
    = f.input :summary, placeholder: 'Type estimate summary here ...', label: false, input_html: {class: 'input_box summary'}
  %br
  .span12
    .span4
      From
      %br
      %strong
        = current_user.first_name
      %br
      %br
      To add your business address here,
      %br
      please update your #{link_to 'business profile.', new_client_path, class: 'btn btn-info'}
      %br
      .span4
        To
      .span8
        = link_to 'New Client', new_client_path
      = f.input :receiver_tokens, label: false, :input_html => {"data-pre" => client_tokens(@estimate)}
    .span4
      = f.input :date, as: :string, input_html: { class: 'datepicker input_box' }
      = f.input :estimate_number, input_html: {class: 'input_box'}
      = f.input :due_on, collection: DUE_IN, include_blank: false
    .span4
  .span12
    = f.simple_fields_for :items do |items_form|
      = render 'item_fields', items_form: items_form
    = link_to_add_fields "Add Items", f, :items
    = f.input :estimate_notes, input_html: {class: 'bill_notes'}
  .span12
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), estimates_path, :class => 'btn'