%fieldset
  .span3
    = items_form.input :category_tokens, label: 'Description', inline_label: 'Type Name & Description',
                       :input_html => {"data-pre" => {"id" => items_form.object.try(:id), "name" => items_form.object.try(:name), 'quantity' =>  items_form.object.try(:quantity), 'rate' => items_form.object.try(:rate), 'amount' => items_form.object.try(:amount) }.to_json}
    -#= items_form.input :date, as: :string, input_html: { class: 'datepicker' }
    -#= items_form.input :link
    -#= items_form.input :tag_list
    -#= items_form.input :file
  .span2.small_width
    = items_form.input :quantity, as: :string, input_html: { class: 'small_width'}
  .span2.small_width
    = items_form.input :rate, as: :string, input_html: { class: 'small_width'}
  .span2
    = items_form.input :amount, as: :string, input_html: { class: 'small_width'}
  .span3
    = items_form.hidden_field :_destroy
    = link_to "remove", '#', class: "remove_fields"