%fieldset
  .span3
    = items_form.input :estimate_category_tokens, label: 'Description', inline_label: 'Type Name & Description',
                       :input_html => {"data-pre" => data_pre_text(items_form) }
    -#= items_form.input :date, as: :string, input_html: { class: 'datepicker' }
    -#= items_form.input :link
    -#= items_form.input :tag_list
    -#= items_form.input :file
  .span2.small_width
    = items_form.input :quantity, as: :string, input_html: { class: 'small_width input_box'}
  .span2.small_width
    = items_form.input :rate, as: :string, input_html: { class: 'small_width input_box'}
  .span2
    = items_form.input :amount, as: :string, input_html: { class: 'small_width input_box'}
  .span3
    = items_form.hidden_field :_destroy
    = link_to "remove", '#', class: "remove_fields btn btn-danger"