<h1>Listing estimates</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>From</th>
      <th>Date</th>
      <th>Number</th>
      <th>To</th>
      <th>Due on</th>
      <th>Estimate number</th>
      <th>Estimate notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.summary %></td>
        <td><%= estimate.from %></td>
        <td><%= estimate.date %></td>
        <td><%= estimate.number %></td>
        <td><%= estimate.to %></td>
        <td><%= estimate.due_on %></td>
        <td><%= estimate.estimate_number %></td>
        <td><%= estimate.estimate_notes %></td>
        <td><%= link_to 'Show', estimate %></td>
        <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
        <td><%= link_to 'Destroy', estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate', new_estimate_path %>
