<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @estimate.summary %>
</p>

<p>
  <strong>From:</strong>
  <%= @estimate.from %>
</p>

<p>
  <strong>Date:</strong>
  <%= @estimate.date %>
</p>

<p>
  <strong>Number:</strong>
  <%= @estimate.number %>
</p>

<p>
  <strong>To:</strong>
  <%= @estimate.to %>
</p>

<p>
  <strong>Due on:</strong>
  <%= @estimate.due_on %>
</p>

<p>
  <strong>Estimate number:</strong>
  <%= @estimate.estimate_number %>
</p>

<p>
  <strong>Estimate notes:</strong>
  <%= @estimate.estimate_notes %>
</p>

<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
