.page-header
  %h1= @estimate.summary

%p
  %strong Estimate Summary:
  %br
  = @estimate.summary
%p
  %strong From:
  %br
  = @estimate.from
%p
  %strong Date:
  %br
  = @estimate.date
%p
  %strong Estimate Number:
  %br
  = @estimate.number
%p
  %strong Estimate to:
  %br
  = @estimate.to
%p
  %strong Due on:
  %br
  = @estimate.due_on
%p
  %strong Estimate Number:
  %br
  = @estimate.estimate_number
%p
  %strong Estimate Notes:
  %br
  = @estimate.estimate_notes
%p
  %strong User:
  %br
  = @estimate.user.full_name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), estimates_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_estimate_path(@estimate), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), estimate_path(@estimate), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
