= simple_form_for @entry, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :date
  = f.input :client
  = f.input :description
  = f.input :hours
  = f.input :file
  = f.input :link
  = f.input :tag_list
  = f.input :user_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), entries_path, :class => 'btn'
