<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @entry.client %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @entry.hours %>
</p>

<p>
  <strong>File:</strong>
  <%= @entry.file %>
</p>

<p>
  <strong>Link:</strong>
  <%= @entry.link %>
</p>

<p>
  <strong>Tag list:</strong>
  <%= @entry.tag_list %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
