= simple_form_for @invoice, :html => { :class => 'form-horizontal invoices' } do |f|
  .span12
    %strong Invoice
    = f.input :summary, placeholder: 'Type invoice summary here ...', label: false, input_html: {class: 'input_box summary'}
  %br
  .span12
    .span4
      From
      %br
      %strong
        = current_user.first_name
      %br
      To add your business address here, please
      %br
      update your #{link_to 'business profile.', new_client_path, class: 'btn btn-info'}
      %br
      .span6
        To
      .span6
        = link_to 'New Client', new_client_path
      = f.input :receiver_tokens, label: false, :input_html => {"data-pre" => client_tokens(@invoice) }
    .span4
      = f.input :date, as: :string, input_html: { class: 'datepicker input_box' }
      = f.input :invoice_number, input_html: {class: 'input_box'}
      = f.input :invoice_due, collection: DUE_IN, include_blank: false
      = f.input :purchase_order_number, input_html: {class: 'input_box'}
    .span4
  .span12
    = f.simple_fields_for :items do |items_form|
      = render 'item_fields', items_form: items_form
    = link_to_add_fields "Add Items", f, :items
    = f.input :invoice_notes, input_html: {class: 'bill_notes'}
  .span12
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), invoices_path, :class => 'btn'