= simple_form_for @invoice, :html => { :class => 'form-horizontal' } do |f|
  .span12
    = f.input :summary
  %br
  .span12
    .span6
      From
      %br
      %strong
        = current_user.first_name
      %br
    .span6
      = f.input :date, as: :string, input_html: { class: 'datepicker' }
  .span12
    .span6
      To add your business address here, please update your
      = link_to 'business profile.', new_client_path
      %br
      = link_to 'New Client', new_client_path
      = f.input :receiver_tokens, :input_html => {"data-pre" => {"id" => @invoice.receiver.try(:id), "name" => @invoice.receiver.try(:first_name) }.to_json}
    .span6
      = f.input :invoice_number
  .span12
    .span6
      = f.input :invoice_due, collection: DUE_IN, include_blank: false
    .span6
      = f.input :purchase_order_number
  .span12
    = f.simple_fields_for :items do |items_form|
      = render 'item_fields', items_form: items_form
    = link_to_add_fields "Add Items", f, :items
    = f.input :invoice_notes
  .span12
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), invoices_path, :class => 'btn'