<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Invoice from</th>
      <th>Date</th>
      <th>Invoice number</th>
      <th>Invoice to</th>
      <th>Invoice due</th>
      <th>Purchase order number</th>
      <th>Invoice notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.summary %></td>
        <td><%= invoice.invoice_from %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.invoice_to %></td>
        <td><%= invoice.invoice_due %></td>
        <td><%= invoice.purchase_order_number %></td>
        <td><%= invoice.invoice_notes %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
