:css
  .description {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    padding-right: 20%;
  }

  .quantity {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    text-align: right;
  }

  .rate {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    text-align: right;
  }

  .amount {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    text-align: right;
  }

  .margin10top{
    margin-top: 10%;
  }

  .margin2top{
    margin-top: 2%;
  }

  .margin5pr{
    margin-bottom: 5%;
  }

  .margin10pr{
     margin-bottom: 10%;
  }

  .margin20pr{
    margin-bottom: 20%;
  }

  .bg-info{
    background-color: #88888F;
  }

  .from {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    width: 10%;
    text-align: left;
  }

  .date {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 20%;
    text-align: right;
    width: 10%;
  }

  .purchase_order_number {
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    width: 40%;
    text-align: left;
  }

  .invoice_number {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    text-align: right;
    width: 10%;
  }

  .to {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    width: 10%;
    text-align: left;
  }

  .invoice_due {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    text-align: right;
    width: 60%;
  }

.bg-info
  %h2
    INVOICE
    =@invoice.invoice_number
%br
.div
  %h3 Invoice
  .margin5pr
    = @invoice.summary

%table{ style: 'width:100%;'}
  %thead
    %th.from
      From
    %th.date
      Date
  %tbody
    %tr
      %td.from
        = @invoice.sender_full_name
      %td.date
        = @invoice.date

%table{ style: 'width:100%;'}
  %thead
    %th.purchase_order_number
      Purchase Order Number
    %th.invoice_number
      Invoice Number
  %tbody
    %tr
      %td.purchase_order_number
        = @invoice.purchase_order_number
      %td.invoice_number
        = @invoice.invoice_number
%table{ style: 'width:100%;'}
  %thead
    %th.to
      To
    %th.invoice_due
      Invoice Due
  %tbody
    %tr
      %td.to
        = @invoice.receiver.try(:name_with_address)
      %td.invoice_due
        = @invoice.invoice_due
%table{ style: 'width:100%;'}
  %tbody
    %th.description
      Description
    %th.quantity
      Quantity
    %th.rate
      Rate
    %th.amount
      Amount
  %tbody
    - @invoice.items.each do |item|
      %tr
        %td.description
          = item.description
        %td.quantity
          = item.quantity
        %td.rate
          = item.rate
        %td.amount
          = item.amount
    %tr
      %td.description
      %td.quantity
      %td.rate
        Subtotal
      %td.amount
        = @invoice.amount
  %tfoot
    %tr
      %td.description
      %td.quantity
      %td.rate
        Total Due (USD)
      %td.amount
        = @invoice.amount
.div.margin10top
  %strong Invoice Note
  .margin2top
    = @invoice.invoice_notes

.div.margin10top
  %hr
  Email: #{@invoice.user.email}