.span12.bg-info
  .span8
    %h2
      INVOICE
      =@invoice.invoice_number
  .span4.button-set-crud
    .span2
      = link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-primary'
    .span10
      .dropdown
        %a.btn.btn-primary#dLabel{"data-target" => "#", "data-toggle" => "dropdown", :href => "/page.html", :role => "button"}
          More
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
          %li=link_to 'Preview / Download as PDF', preview_invoice_path(@invoice, format: :pdf), target: '_blank'
          %li=link_to 'Share with Team', '#'
          %li=link_to 'Send Invoice', mail_invoice_path(@invoice), method: :post
          %li.menu_group=link_to 'Invoice Activity', '#'
          %li=link_to 'Post Comment', '#'
          %li=link_to 'Enter payment', '#'
          %li=link_to 'Mark as Sent', mark_as_sent_invoice_path(@invoice), method: :post
          %li=link_to 'Duplicate Invoice', duplicate_invoice_path(@invoice), method: :post
          %li.menu_group=link_to 'Close', close_invoice_path(@invoice), method: :post
          %li=link_to 'Delete', @invoice, method: :delete
%br
.span12
  %h3 Invoice
  .margin5pr
    = @invoice.summary
.span12
  .span4
    From
    %br
    .margin20pr
      = @invoice.sender_full_name
    .span6
      %strong To
    .span6
      = @invoice.receiver.try(:name_with_address)
  %br
  .span4
    %strong Date
    .margin2pr
      = @invoice.date
    %strong Invoice Number
    .margin2pr
      = @invoice.invoice_number
    %strong Invoice Due
    .margin2pr
      = @invoice.invoice_due
    %strong Purchase Order Number
    .margin10pr
      = @invoice.purchase_order_number
.span12
  .row
    .span3
      %strong
        Description
    .span3
      %strong
        Quantity
    .span3
      %strong
        Rate
    .span2
      %strong
        Amount
  .row.margin2pr
    - @invoice.items.each do |item|
      %hr
      .span3
        = item.description
      .span3
        = item.quantity
      .span3
        = item.rate
      .span2
        = item.amount
  .row
    %strong Invoice Note
    .margin10pr
      = @invoice.invoice_notes

.span12
  %hr
  Email: #{@invoice.user.email}