.span12
  %strong Invoice
  Summary
  = @invoice.summary
%br
.span12
  .span4
    From
    %br
    %strong
      = current_user.first_name
    %br
    .span6
      To
    .span6
      = @invoice.receiver.try(:name_with_address)
  %br
  .span4
    Date
    = @invoice.date
    %br
    Invoice Number
    = @invoice.invoice_number
    %br
    Invoice Due
    = @invoice.invoice_due
    %br
    Purchase Order Number
    = @invoice.purchase_order_number
    %br
  .span4
  %br
.span12
  - @invoice.items.each do |item|
    .span3
      = item.description
    .span2.small_width
      = item.quantity
    .span2.small_width
      = item.rate
    .span2
      = item.amount
.span12
  = @invoice.invoice_notes