<h4 class="title">RESET MY PASSWORD</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>
  <%= f.submit "Send reset password email",class: "btn btn-primary" %>
<% end %>
<%= render "devise/shared/links" %>