= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :currency_id
  = f.input :email
  = f.input :phone
  = f.input :website_url
  = f.input :street_address
  = f.input :city
  = f.input :state
  = f.input :zipcode
  = f.input :country_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), clients_path, :class => 'btn'
