= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f|
  = f.input :first_name, input_html: {class: 'input_box'}
  = f.input :last_name, input_html: {class: 'input_box'}
  = f.input :currency, collection: Currency.all,  input_html: {class: 'input_box'}
  = f.input :email, input_html: {class: 'input_box'}
  = f.input :phone, input_html: {class: 'input_box'}
  = f.input :website_url, input_html: {class: 'input_box'}
  = f.input :street_address, input_html: {class: 'input_box'}
  = f.input :city, input_html: {class: 'input_box'}
  = f.input :state, input_html: {class: 'input_box'}
  = f.input :zipcode, input_html: {class: 'input_box'}
  = f.input :country, collection: Country.all, input_html: {class: 'input_box'}
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), clients_path, :class => 'btn'
