= simple_form_for @bill, :html => { :class => 'form-horizontal' } do |f|
  = f.input :summary
  = f.input :from
  = f.input :date
  = f.input :bill_number
  = f.input :to
  = f.input :due_on
  = f.input :purchase_order_number
  = f.input :invoice_notes
  = f.input :user_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), bills_path, :class => 'btn'
