= simple_form_for @bill, :html => { :class => 'form-horizontal' } do |f|
  .span12
    %strong Bill
    = f.input :summary, placeholder: 'Type bill summary here ...', label: false, input_html: {class: 'input_box summary'}
  %br
  .span12
    .span4
      .span6
        From
      .span6
        = link_to 'New Vendor', new_client_path
      = f.input :receiver_tokens, label: false, :input_html => {"data-pre" => client_tokens(@bill)}
      %br
      To
      %br
      %strong
        = current_user.first_name
      %br
      %br
      %br
      To add your business address here,
      %br
      please update your #{link_to 'business profile.', new_client_path, class: 'btn btn-info'}
    .span4
      = f.input :date, as: :string, input_html: { class: 'datepicker input_box' }
      = f.input :bill_number, input_html: {class: 'input_box'}
      = f.input :due_on, collection: DUE_IN, include_blank: false
      = f.input :purchase_order_number, label: 'Bill Reference Number', input_html: {class: 'input_box'}
    .span4
  .span12
    = f.simple_fields_for :items do |items_form|
      = render 'item_fields', items_form: items_form
    = link_to_add_fields "Add Items", f, :items
    = f.input :bill_notes, input_html: {class: 'bill_notes'}
  .span12
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), invoices_path, :class => 'btn'