<h1>Listing bills</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Bill from</th>
      <th>Date</th>
      <th>Bill number</th>
      <th>Bill to</th>
      <th>Due on</th>
      <th>Purchase order number</th>
      <th>Invoice notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.summary %></td>
        <td><%= bill.bill_from %></td>
        <td><%= bill.date %></td>
        <td><%= bill.bill_number %></td>
        <td><%= bill.bill_to %></td>
        <td><%= bill.due_on %></td>
        <td><%= bill.purchase_order_number %></td>
        <td><%= bill.invoice_notes %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
