:css
  .description {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    padding-right: 20%;
  }

  .quantity {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    text-align: right;
  }

  .rate {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    text-align: right;
  }

  .amount {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    text-align: right;
  }

  .margin10top{
    margin-top: 10%;
  }

  .margin2top{
    margin-top: 2%;
  }

  .margin5pr{
    margin-bottom: 5%;
  }

  .margin10pr{
     margin-bottom: 10%;
  }

  .margin20pr{
    margin-bottom: 20%;
  }

  .bg-info{
    background-color: #88888F;
  }

  .from {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    width: 10%;
    text-align: left;
  }

  .date {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 20%;
    text-align: right;
    width: 10%;
  }

  .bill_reference_number {
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    width: 40%;
    text-align: left;
  }

  .bill_number {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    text-align: right;
    width: 10%;
  }

  .to {
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    width: 10%;
    text-align: left;
  }

  .bill_due {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    text-align: right;
    width: 60%;
  }

.bg-info
  %h2
    BILL
    =@bill.bill_number
%br
.div
  %h3 Bill
  .margin5pr
    = @bill.summary

%table{ style: 'width:100%;'}
  %thead
    %th.from
      From
    %th.date
      Date
  %tbody
    %tr
      %td.from
        = @bill.receiver.try(:name_with_address)
      %td.date
        = @bill.date

%table{ style: 'width:100%;'}
  %thead
    %th.bill_reference_number
      Bill Reference Number
    %th.bill_number
      Bill Number
  %tbody
    %tr
      %td.bill_reference_number
        = @bill.bill_reference_number
      %td.bill_number
        = @bill.bill_number
%table{ style: 'width:100%;'}
  %thead
    %th.to
      To
    %th.bill_due
      Bill Due
  %tbody
    %tr
      %td.to
        = @bill.sender_full_name
      %td.bill_due
        = @bill.due_on
%table{ style: 'width:100%;'}
  %tbody
    %th.description
      Description
    %th.quantity
      Quantity
    %th.rate
      Rate
    %th.amount
      Amount
  %tbody
    - @bill.items.each do |item|
      %tr
        %td.description
          = item.description
        %td.quantity
          = item.quantity
        %td.rate
          = item.rate
        %td.amount
          = item.amount
    %tr
      %td.description
      %td.quantity
      %td.rate
        Subtotal
      %td.amount
        = @bill.amount
  %tfoot
    %tr
      %td.description
      %td.quantity
      %td.rate
        Total Due (USD)
      %td.amount
        = @bill.amount
.div.margin10top
  %strong Bill Notes
  .margin2top
    = @bill.bill_notes

.div.margin10top
  %hr
  Email: #{@bill.user.email}