.span12.bg-info
  .span8
    %h2
      BILL
      =@bill.bill_number
  .span4.button-set-crud
    .span2
      = link_to 'Edit', edit_bill_path(@bill), class: 'btn btn-primary'
    .span10
      .dropdown
        %a.btn.btn-primary#dLabel{"data-target" => "#", "data-toggle" => "dropdown", :href => "/page.html", :role => "button"}
          More
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
          %li=link_to 'Preview', preview_bill_path(@bill, format: :pdf)
          %li=link_to 'Share with Team', '#'
          %li=link_to 'Send Bill', '#'
          %li=link_to 'Download as PDF', '#'
          %li.menu_group=link_to 'Bill Activity', '#'
          %li=link_to 'Post Comment', '#'
          %li=link_to 'Enter payment', '#'
          %li=link_to 'Mark as Sent', '#'
          %li=link_to 'Duplicate Bill', '#'
          %li.menu_group=link_to 'Close', '#'
          %li=link_to 'Delete', '#'
%br
.span12
  %h3 Bill
  .margin5pr
    = @bill.summary
.span12
  .span4
    From
    %br
    .margin20pr
      = @bill.sender_full_name
    .span6
      %strong To
    .span6
      = @bill.receiver.try(:name_with_address)
  %br
  .span4
    %strong Date
    .margin2pr
      = @bill.date
    %strong Bill Number
    .margin2pr
      = @bill.bill_number
    %strong Bill Due
    .margin2pr
      = @bill.due_on
    %strong Purchase Order Number
    .margin10pr
      = @bill.purchase_order_number
.span12
  .span3
    %strong
      Description
  .span3
    %strong
      Quantity
  .span3
    %strong
      Rate
  .span2
    %strong
      Amount
.span12.margin2pr
  - @bill.items.each do |item|
    %hr
    .span3
      = item.description
    .span3
      = item.quantity
    .span3
      = item.rate
    .span2
      = item.amount
.span12
  %strong Bill Note
  .margin10pr
    = @bill.bill_notes

.span12
  %hr
  Email: #{@bill.user.email}

