- model_class = Ticket
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:subject) + ':'
  %br
  = @ticket.subject
%p
  %strong= model_class.human_attribute_name(:message) + ':'
  %br
  = @ticket.message
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @ticket.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), tickets_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_ticket_path(@ticket), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), ticket_path(@ticket), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
