<h4 class="title">SIGN IN</h4>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= bootstrap_flash %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email, :autofocus => true %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password, autocomplete: "off" %>
  <% if devise_mapping.rememberable? -%>
    <label class="checkbox"> <%= f.check_box :remember_me %> Remember me </label>
  <% end -%>
  <%= f.submit "Sign in",class: "btn btn-success" %>
<% end %>
<%= render "devise/shared/links" %>