= simple_form_for @item, :html => { :class => 'form-horizontal' } do |f|
  = f.input :description
  = f.input :quantity
  = f.input :rate
  = f.input :amount
  = f.input :date
  = f.input :link
  = f.input :tag_list
  = f.input :file
  = f.input :user_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), items_path, :class => 'btn'
