- model_class = Item
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @item.description
%p
  %strong= model_class.human_attribute_name(:quantity) + ':'
  %br
  = @item.quantity
%p
  %strong= model_class.human_attribute_name(:rate) + ':'
  %br
  = @item.rate
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @item.amount
%p
  %strong= model_class.human_attribute_name(:date) + ':'
  %br
  = @item.date
%p
  %strong= model_class.human_attribute_name(:link) + ':'
  %br
  = @item.link
%p
  %strong= model_class.human_attribute_name(:tag_list) + ':'
  %br
  = @item.tag_list
%p
  %strong= model_class.human_attribute_name(:file) + ':'
  %br
  = @item.file
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @item.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), items_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_item_path(@item), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), item_path(@item), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
