= simple_form_for @support, :html => { :class => 'form-horizontal' } do |f|
  = f.input :subject
  = f.input :message
  = f.input :user_id, as: :hidden
  %br
  %br
  = f.button :submit, :class => 'btn-primary'
